/*
 * Use as follows:
 *   nextflow run main.nf -profile sample,docker
 */

params {
  config_profile_name = 'Sample dataset profile'
  config_profile_description = 'Run Sample dataset with pipeline'

  // Limit resources
  max_cpus = 12
  max_memory = 30.GB
  //max_time = 48.h

  // Input data
  input = 'samples.csv'
  phenotype = 'phenotype.csv'
  input_type = 'fastq'

  outdir = 'results/'

  genome = 'WBcel235'
  species = 'cel'

  tool = 'circexplorer2'
  module = 'circrna_discovery, differential_expression'
  bsj_reads = 2

  // STAR Options
  outFilterMatchNminOverLread = 0.25
  outFilterScoreMinOverLread = 0.25
  outFilterMultimapNmax = 500
}
